.container {
  text-align: center;
  color: black;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container form input {
  padding: 10px;
  border-radius: 10px;
}

.container form button {
  padding: 10px;
  border-radius: 10px;
  background-color: #d5015b;
  color: white;
}
